footer.ms2aFooter
  section.container  
    ms2aFooter__l
      a.ms2aFooter__copyRight(href='/')
        span.m MS2A
        span.s FUNNY
    .ms2a__copyT
      span جميع الحقوق محفوظة  
    ms2aFooter__r
      ul.ms2aFooter__items
        li.ms2aFooter__item: a.ms2aFooter__link(href='/about') حول  