extends ../home
block content 
    .ms2a__videobackground
        .ms2aa.about
            section.videos.about
                .container
                    .videos__title.section__title.b 
                        span ุญูู
                        span.aboutLang
                            .about__us--lang
                                <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g>
                                    <path d="M12.87 15.07l-2.54-2.51.03-.03c1.74-1.94 2.98-4.17 3.71-6.53H17V4h-7V2H8v2H1v1.99h11.17C11.5 7.92 10.44 9.75 9 11.35 8.07 10.32 7.3 9.19 6.69 8h-2c.73 1.63 1.73 3.17 2.98 4.56l-5.09 5.02L4 19l5-5 3.11 3.11.76-2.04zM18.5 10h-2L12 22h2l1.12-3h4.75L21 22h2l-4.5-12zm-2.62 7l1.62-4.33L19.12 17h-3.24z"></path>
                                </g></svg>
                    .about__us
                        p(dir='rtl') ูุญู ูุญุจ ููุงุทุน ุงูููุฏูููุงุช ! ููุช ุจุงูุดุงุก ูุฐุง ุงููููุน ูุงุฃุดุฎุงุต ูุซููุง ุงูุฐูู ูุฑุบุจูู ูู ูุดุงูุฏุฉ "ููุงุทุน ููุฏูู ุฑุงุฆุนุฉ. ูุฌุงููุฉ." ูุญุชูู ุงููููุน ุนูู ููุงุทุน ุณุชุฌุนูู ุชุถุญู ๐ุ ุชุฌุนูู ุชุจุชุณู ๐ ุ ุฃู ุชูููู ูุนูุงู ุงูุดุฎุต ุงูุฐู ุชุญุจู โค๏ธ๐. ูุฏููุง ููุงุทุน ูุชุฑุฌูุฉ ูููุงุทุน ููุฏูู ูุฑูุฏุฉ. ููุฏ ุฃูุดุฃูุง ms2afunny ูุชููู ูุฌูุฉ ุงูููุฏูู ุงูุฃูุซุฑ ุณูููุฉ ูู ุงูุงุณุชุฎุฏุงู ุนูู ุงูููุจ. ูุง ููุฌุฏ ููุฏูู ุนูู ุจุนุฏ ุฃูุซุฑ ูู ููุฑุฉ ูุงุญุฏุฉ ููุดุงูุฏุชู ููููุง ูุฌุงููุฉ. ูุฐุง ุชุฃูุฏ ูู
                            a.about__us--sub(href='/ms2a?new=true') ุงูุงุดุชุฑุงู 
                            span ูุฌุงููุง ุญุชู ุชุชููู ูู ุฅุจุฏุงุก ุงูุฅุนุฌุงุจ ุจุงูููุฏูููุงุช / ุงูุชุนูููุงุช ๐ฅ
            section.contact
                .ms2aa__container
                    .ms2aa__heading
                        h2.videos__title.section__title.b  ุชูุงุตู ูุนู
                    form.ms2aa__form
                        ul.ms2aa__items
                            li.ms2aa__item(dir="rtl"): textarea.ms2aa__input(id='clientMSH' type='text' autocomplete="off" autocorrect="off" name="contactMessage" placeholder='ุงูุฑุณุงูุฉ')
                            li.ms2aa__item: button#contactMe.ms2aa__button ุงุฑุณุงู
                            .ms2aa__msg#signup__msg
block footer