extends ../home

block content   
  main.me
    .ms2a__videobackground
      if user
      else if token == undefined
        #login.ms2aa(dir='rtl' class=`active` )
          .ms2aa__container
            .ms2aa__heading
              h2.ms2aa__title تغيير كلمة السر
            form.ms2aa__form.resetPassword-F
              ul.ms2aa__items
                li.ms2aa__item: input.ms2aa__input(id='email' type='text' autocomplete="off" autocorrect="off" name="emailL"  placeholder='البريد الالكتروني')
                li.ms2aa__item: button.ms2aa__button#resetPassword ارسال
                .ms2aa__msg#signup__msg
      else
        #login.ms2aa(dir='rtl' class='active')
          .ms2aa__container
            .ms2aa__heading
              h2.ms2aa__title تحديث كلمة السر
            form.ms2aa__form
              ul.ms2aa__items
                li.ms2aa__item: input.ms2aa__input(id='password' type='password' autocomplete="off" autocorrect="off" name="password"  placeholder='كلمة السر الجديدة')
                li.ms2aa__item: input.ms2aa__input(id='passwordConfirm' type='password' autocomplete="off" autocorrect="off" name="confirmPassword"  placeholder='تأكيد كلمة السر الجديدة')
                li.ms2aa__item: button.ms2aa__button#ms2a__resetPassword حفظ كلمة السر الجديدة
                .ms2aa__msg#signup__msg
block footer